:root {
    --cinza-bg-color: #D2D1D1;
    --preto-bg-color: #263C54;
    --branco-bg-color: #FFFFFF;
    --verde-bg-color: #3BF385;
    --pretoclaro-bg-color: #305883;
    --biometria-bg-color: #F7A52B;
    font-family: "Poppins", sans-serif;
}